doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../assets/scss/main.css")
        title Document
    body 
        .box 
        
            .headers 
                    .logo 
                        img(src="../assets/img/Vector.png", alt="rasm")
                        p 
                            strong GreenShop
                    .navbar 
                        ul 
                            li 
                                a(href="#") Home 
                            li  
                                a(href="#") Shop 
                            li 
                                a(href="#") Plant Care 
                            li 
                                a(href="#") Blogs 
                    .search 
                         
                        
                        button kdfhashf
                            
            .sliders 
                
                .sliderBox 
                    .sboxLeft 
                        p welcome to GREENSHOP 
                        h1 
                            strong  LET'S MAKE A BETTER 
                                span PLANET
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor aliquid, quod similique tempore vero aperiam rerum. Temporibus eveniet deserunt illum.
                        br
                        br
                        button SHOP NOW 

                    .sboxRight 
                        img.img1(src="../assets/img/gul1.png", alt="gul bor")
                        img.img2(src="../assets/img/gul1.png", alt="gul bor")
                .dotBox
                        //- input(type="radio")
                        //- input(type="radio")
                        //- input(type="radio")

            //- plants page start
            #plants 
                .plant-left 
                    .planLeftTop 
                        h3  
                            strong Categories 
                        ul 
                            li 
                                span Hause Plants 
                                span.number  (33)
                            li 
                                span Potter Plants 
                                span.nubers  (12)
                            li 
                                span Seeds 
                                span.number (65)
                            li 
                                span Small Plants 
                                span.number (39)
                            li 
                                span Big Plants 
                                span.number (39)
                            li 
                                span Succulents 
                                span.number (17)
                            li 
                                span Trerrariums
                                span.number (19)
                            li 
                                span Gardening 
                                span.number (13)
                            li 
                                span Accessories 
                                span.number (18)
                        .priceRange 
                            input(type="rang")

                .plant-right
                    .right-top
                        ul
                            li 
                                a(href="#") All Plants 
                            li 
                                a(href="#") New Arrivals
                            li 
                                a(href="#") Sale
                    .right-bottom  
                        span 
                            .bc-img 
                                img(src="../assets/img/g2.png", alt="gul")
                            p Barberton Daisy 
                            p.price-plant
                                strong $119.00
                        span 
                            .bc-img 
                                img(src="../assets/img/g3.png", alt="gul")
                            p Barberton Daisy 
                            p.price-plant
                                strong $119.00
                        span 
                            .bc-img 
                                img(src="../assets/img/g4.png", alt="gul")
                            p Barberton Daisy 
                            p.price-plant
                                strong $119.00
                        span 
                            .bc-img 
                                img(src="../assets/img/gul1.png", alt="gul")
                            p Barberton Daisy 
                            p.price-plant
                                strong $119.00
                        span 
                            .bc-img 
                                img(src="../assets/img/g5.png", alt="gul")
                            p Barberton Daisy 
                            p.price-plant
                                strong $119.00
                        span 
                            .bc-img 
                                img(src="../assets/img/g8.png", alt="gul")
                            p Barberton Daisy 
                            p.price-plant
                                strong $119.00
                        span 
                            .bc-img 
                                img(src="../assets/img/g7.png", alt="gul")
                            p Barberton Daisy 
                            p.price-plant
                                strong $119.00
                        span 
                            .bc-img 
                                img(src="../assets/img/g2.png", alt="gul")
                            p Barberton Daisy 
                            p.price-plant
                                strong $119.00
                        span 
                            .bc-img 
                                img(src="../assets/img/g9.png", alt="gul")
                            p Barberton Daisy 
                            p.price-plant
                                strong $119.00
                                
