*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$primaryColor : #46A358;
$fontColor: #3D3D3D;
$bcollor: rgba(245, 245, 245, 0.5);
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
// HEADER START
.headers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 53px;
    .logo{
        display: flex;
        flex-direction: row;
        font-size: 18px;
        align-items: center;
        color: $primaryColor;
        img{
            width: 34.5px;
            height: 34.5px;
        }
    }

    .navbar{
        display: flex;
        width: 351px;
        justify-content: space-between;
        ul{
            display: flex;
            width: 351px;
            justify-content: space-between;
            li{
                list-style: none;
                display: inline;
                font-size: 16px;

                a{
                    text-decoration: none;
                    color: $fontColor;
                }
            }
        }
    }
}
// HEADER END
// SLIDER PAGE START------------------------------------------------------
.sliders{
    width: 1200px;
    height: 450px;
    background-color: $bcollor;
    .sliderBox{
        display: flex;
        flex-direction: row;
        .sboxLeft{
            width: 530px;
            height: 450px;
            margin-left: 38px;
            margin-top: 80px;
            h1{
                font-size: 60px;
                span{
                    color: $primaryColor;
                }
            }
            p{
                font-size: 14px;
                color: $fontColor;

            }
            button{
                width: 140px;
                height: 40px;
                background-color: $primaryColor;
                color: #fff;
                font-size: 16px;
                padding: auto;
                border: none;
                border-radius: 5px;
            }
        }
        .sboxRight{
            display: flex;
            flex-direction: row;
            position: relative;
            .img1{
                width: 135px;
                height: 135px;
                position: absolute;
                bottom: 110px;
                left: 145px;
            }
            .img2{
                width: 518px;
                height: 518px;
                position: absolute;
                bottom: 70px;
                left: 120px;
            }
        }
    }
}
// SLIDER PAGE END-------------------------------------------------------
// PLANTS PAGE START------------------------------------------------------
#plants {
    width: 1200px;
    height: 1244px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    .plant-left{
        width: 310px;
        height: 774px;
        background-color: $bcollor;
        h3{
            margin: 10px;
        }
        li{
            list-style: none;
            display: flex;
            justify-content: space-between;
            width: 270px;
            margin: 0 auto;
            color: $fontColor;
            
        }
    }
    .plant-right{
        width: 840px;
        height: 1244px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .right-top{
            display: flex;
            flex-direction: row;
            width: 838px;
            height: 23px;
            background-color: $bcollor;
            ul 
                li{
                    list-style: none;
                    display: inline;
                    a{
                        text-decoration: none;
                        color: $fontColor;
                    }
            }
        }
        .right-bottom{
            width: 840px;
            height: 1190px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            span{
                .bc-img{
                    width: 258px;
                    height: 300px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $bcollor;
                    img{
                        width: 250px;
                        height: 250px;
                    }
                }
                p{
                    color: $fontColor;
                }
                .price-plant{
                    color: $primaryColor;
                }
            }
        }
    }
}
// PLANTS PAGE END--------------------------------------------------------
// INFO CARDS START--------------------------------------------------------
#infoCards{
    width: 1205px;
    height: 302px;
    display: flex;
    justify-content: space-between;
    div{
        width: 586px;
        height: 250px;
        background-color: $bcollor;
        display: flex;justify-content: space-between;
        .info-cards-img{
            position: relative;
            img{
                position: absolute;
                bottom: 10px;
                width: 292px;
                height: 292px;
            }
        }
        .info-cards-content{
            display: flex;
            flex-direction: column;
            text-align: end;
            align-items: end;
            justify-content: space-evenly;
            height: 200px;
            padding-right: 30px;
            margin: auto 0;
            button{
                background-color: $primaryColor;
                color: #fff;
                width: 140px;
                height: 40px;
                border-radius: 10px;
                border: none;
            }
        }
    }
}
// info cards end ---------------------------------------------------
// OUR BLOCK POSTS START -------------------------------------------
#ourBlockPosts {
    display: flex;
    width: 1202px;
    height: 447px;
    flex-direction: column;
    justify-content: space-between;
    .postContent {
        text-align: center;
    }
    .ourBPcards {
        display: flex;
        width: 1202px;
        justify-content: space-between;
        span{
            img{
                width: 268px;
                height: 195.17px;
            }
            .cardBPtext {
                width: 268px;
                height: 167px;
                background-color: $bcollor;
                opacity: 0.8;
                padding: 10.5px 13px ;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 14px;
                p:first-of-type{
                    color: $primaryColor;
                }
                p{
                    color: $fontColor;
                }
                a{
                    text-decoration: none;
                    color: black;
                    display: flex;
                    align-items: center;
                    span{
                        color: black;
                    }
                    i{
                        padding-left: 10px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
// OUR BLOCK POSTS END ----------------------------------------------
// GREEN LINE=============
#greeLine{
    position: relative;
    div{
        width: 1200px;
        height: 88px;
        background-color: rgba(70, 163, 88, 0.1);
        position: absolute;
        right: -360px;
        top: -48px;
    }
    
}
